<!DOCTYPE html>
<html>
  <head>
    <title>FRIENDSAPP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h2>Header Here....</h2><br \> <br \>
    <%= yield %>
    <h2>Footer is Here....</H2><br \> <br \>
  </body>
</html>
